.card-image {
    width: 80%;
    aspect-ratio: 1 / 1; /* 👈 carré automatiquement */
    object-fit: cover;
    border-radius: 0.8rem;
  }

  .hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    will-change: transform;
  }
  
  .hover-effect:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  fa-icon.text-gray-400 {
    /* Initial style: light border, rounded icon, and smooth transition */
    border: 2px solid darkgray;
    border-radius: 50%;
    padding: 9px 9px 8px 8px;
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  
  fa-icon.text-gray-400:hover {
    /* On hover: darken the border and icon color */
    border-color: gray;
    color: gray;
    cursor: pointer;
  }


  