<div class="bg-green-500 hover:cursor-pointer rounded-3xl overflow-hidden w-80 p-4 group relative isolate">
    <img 
      [src]="imageUrl()" 
      alt="Image" 
      class="card-image card-img-top object-fit-cover hover-effect" 
    />
  
    <div class="pt-3 d-flex justify-content-between align-items-center">
      <div>
        <div class="bg-purple-100 w-fit px-2 rounded-md">
          <span class="text-xs uppercase text-purple-500">{{ category() }}</span>
        </div>
  
        <h3 class="mt-2 h-12 line-clamp-2">{{ title() }}</h3>
      </div>
    </div>


  </div>