<div class="bg-green-500 hover:cursor-pointer rounded-3xl overflow-hidden w-80 p-4 group relative isolate">
  <div class="d-flex gap-3">
    <img 
      [src]="imageUrl()" 
      alt="Image" 
      class="card-image card-img-top object-fit-cover hover-effect" 
    />
    <div style="margin-top: 10px;">
      <fa-icon [icon]="faCartPlus" matTooltip="Add to cart" matTooltipPosition="right" class="text-gray-400"></fa-icon>
    </div>
  </div>

  
    <div class="pt-3 d-flex  flex-column align-items-start">
        <div class="bg-purple-100 w-fit px-2 rounded-md">
          <span class="text-xs uppercase text-purple-500">{{ category() }}</span>
        </div>
  
        <h3 class="mt-2 h-12 line-clamp-2">{{ title() }}</h3>
    </div>
</div>